.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.profileIcon {
    cursor: pointer;
    stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}
.cartIcon {
    cursor: pointer;
    stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}